<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}"></head>
<body>
<nav th:replace="~{layout :: page_nav}"></nav>
<div class="container py-3">
    <h1 class="text-center my-4">List of Persons</h1>
    <a class="btn btn-primary" th:href="@{/persons/create}">Create Person</a>
    <table class="table table-striped table-advanced table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Comment</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="person : ${persons}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.name}"></td>
            <td th:text="${person.email}"></td>
            <td th:text="${person.phone}"></td>
            <td th:text="${person.comment}"></td>
            <td style="white-space: nowrap">
                <a class="btn btn-primary btn-sm" th:href="@{/persons/edit(id=${person.id})}">Edit</a>
                <a class="btn btn-danger btn-sm" th:href="@{/persons/delete(id=${person.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="~{layout :: page_footer}"></footer>
</body>
</html>
