<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: page_head}"></head>
<body>
<nav th:replace="~{fragments/layout :: page_nav}"></nav>
<div class="container py-3">

    <h1 class="text-center my-4">Session Results</h1>
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
             aria-valuemax="100">25%
        </div>
    </div>
    <table class="table table-striped table-advanced table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Session Name</th>
            <th>Subquestion</th>
            <th>Answer</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="sessionResult : ${sessionResults}">
            <td th:text="${sessionResult.id}"></td>
            <td th:text="${sessionResult.sessionName}"></td>
            <td th:text="${sessionResult.subquestion}"></td>
            <td th:text="${sessionResult.answer}"></td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="~{fragments/layout :: page_footer}"></footer>
</body>
</html>
