<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}"></head>
<body>
<nav th:replace="~{layout :: page_nav}"></nav>
<div class="container py-3">
    <h1 class="text-center my-4">List of Answers</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Question</th>
            <th>Answer</th>
            <th>Gender</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="answerDto : ${answers}">
            <td th:text="${answerDto.id}"></td>
            <td th:text="${answerDto.question}"></td>
            <td th:text="${answerDto.answer1}"></td>
            <td>
                <input type="radio" th:field="${answerDto.answer1}" value="1"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="~{layout :: page_footer}"></footer>
</body>
</html>
