<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center">
    <h1>Contacts</h1>
    <div class="p-2">
        <a class="h2" th:href="@{/contacts/new}">Create Contact</a>
        <a class="h2" th:href="@{/}">Home</a>
    </div>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Comment</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contact : ${contacts}">
            <td th:text="${contact.name}"></td>
            <td th:text="${contact.email}"></td>
            <td th:text="${contact.phone}"></td>
            <td th:text="${contact.comment}"></td>
            <td>
                <a th:href="@{/contacts/{id}/edit(id=${contact.id})}">Edit</a>
                <a th:href="@{/contacts/{id}/delete(id=${contact.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>