<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}"></head>
<body>


<nav th:replace="~{layout :: page_nav}"></nav>


<div class="container py-3">
    <h1 class="text-center my-4">Contact</h1>

    <div class="card">
        <div class="card-header h5">
            Wie gut kümmern Sie sich um Ihre Mitarbeitenden? Sehen und sprechen Sie sie regelmäßig?
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                           value="option1">
                    <label class="form-check-label" for="inlineRadio1">> 10 %</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                           value="option2">
                    <label class="form-check-label" for="inlineRadio2">10-8 %</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                           value="option2">
                    <label class="form-check-label" for="inlineRadio3">7-5 %</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                           value="option2">
                    <label class="form-check-label" for="inlineRadio4">4-2 %</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                           value="option2">
                    <label class="form-check-label" for="inlineRadio5">0 %</label>
                </div>
            </blockquote>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-header h5">
            Wie intensiv ist die Zusammenarbeit zwischen den einzelnen Abteilungen oder Teams?
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio11"
                           value="option1">
                    <label class="form-check-label" for="inlineRadio11">Trifft zu</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio21"
                           value="option2">
                    <label class="form-check-label" for="inlineRadio21">Trifft nicht zu</label>
                </div>
            </blockquote>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-header h5">
            Haben Sie das Gefühl, sozial akzeptiert zu sein?
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio12"
                           value="option1">
                    <label class="form-check-label" for="inlineRadio12">Nie</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio22"
                           value="option2">
                    <label class="form-check-label" for="inlineRadio22">Ein Tag</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio32"
                           value="option2">
                    <label class="form-check-label" for="inlineRadio32">Mehrere Tage</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio42"
                           value="option2">
                    <label class="form-check-label" for="inlineRadio42">Immer</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio52"
                           value="option2">
                    <label class="form-check-label" for="inlineRadio52">0 %</label>
                </div>
            </blockquote>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-header h5">
            Finden in Ihrem Unternehmen gemeinsame Aktionen statt – wie z.B. gemeinsames Abendessen, Ausflüge oder
            Veranstaltungen?
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio13"
                           value="option1">
                    <label class="form-check-label" for="inlineRadio13">Trifft vollkommen total zu</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio23"
                           value="option2">
                    <label class="form-check-label" for="inlineRadio23">Trifft fast manchmal zu</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio33"
                           value="option2">
                    <label class="form-check-label" for="inlineRadio33">Trifft nahezu zu</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio43"
                           value="option2">
                    <label class="form-check-label" for="inlineRadio43">Trifft nie zu</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio53"
                           value="option2">
                    <label class="form-check-label" for="inlineRadio53">Trifft überhaupt niemals nicht zu</label>
                </div>
            </blockquote>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-header h5">
            Wie schnell sind wichtige Informationen über grundsätzliche Entscheidungen bei Ihnen vor Ort? (Top to
            bottom)
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio14"
                           value="option1">
                    <label class="form-check-label" for="inlineRadio14">Ja</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio24"
                           value="option2">
                    <label class="form-check-label" for="inlineRadio24">Nein</label>
                </div>
            </blockquote>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-header h5">
            Haben Sie in Ihrem Unternehmen ernst zu nehmende persönliche Gespräche, die Sie in die Lage versetzen zu
            verstehen, warum und wie Entscheidungen getroffen worden sind?
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio15"
                           value="option1">
                    <label class="form-check-label" for="inlineRadio15">Verstanden</label>
                </div>
            </blockquote>
        </div>
    </div>
    <br/>
    <footer th:replace="~{layout :: page_footer}"></footer>

</body>
</html>
