<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Possible Answer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center">
    <div th:if="${possibleAnswer.id == null}"><h1>Create new Possible Answer</h1></div>
    <div th:if="${possibleAnswer.id != null}"><h1>Edit Possible Answer</h1></div>
    <form th:action="@{/possible_answers/save}" th:object="${possibleAnswer}" method="post">
        <input type="hidden" th:field="${possibleAnswer.id}"/>
        <div class="form-group row">
            <label class="col-form-label col-sm-4">Possible Answer Name:</label>
            <div class="col-sm-8">
                <input type="text" th:field="*{max_scale}" class="form-control" required/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-4">Question:</label>
            <div class="col-sm-8">
                <select th:field="*{question}" class="form-control" required>
                    <option th:each="question : ${questions}" th:value="${question.id}"
                            th:text="${question.name}"></option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-4">Is Correct:</label>
            <div class="col-sm-8">
                <input type="checkbox" th:field="*{isCorrect}"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>

</div>
</body>
</html>