<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Possible Answers</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center">
    <div class="p-2">
        <a class="h2" th:href="@{/possible_answers/new}">Create Possible Answer</a>
    </div>
    <div><h1>Possible Answers</h1></div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Min Scale</th>
                <th>Max Scale</th>
                <th>Description1</th>
                <th>Description2</th>
                <th>Description3</th>
                <th>Description4</th>
                <th>Description5</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="possibleAnswer : ${possible_answers}">
                <td th:text="${possibleAnswer.id}"></td>
                <td th:text="${possibleAnswer.min_scale}"></td>
                <td th:text="${possibleAnswer.max_scale}"></td>
                <td th:text="${possibleAnswer.description1}"></td>
                <td th:text="${possibleAnswer.description2}"></td>
                <td th:text="${possibleAnswer.description3}"></td>
                <td th:text="${possibleAnswer.description4}"></td>
                <td th:text="${possibleAnswer.description5}"></td>
                <td>
                    <a th:href="@{/possible_answers/{id}/edit(id=${possibleAnswer.id})}">Edit</a>
                    <a th:href="@{/possible_answers/{id}/delete(id=${possibleAnswer.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="h2" th:href="@{/}">Back</a>
    </div>
</div>
</body>
</html>