<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Proposals</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center">
    <div class="p-2">
        <a class="h2" th:href="@{/proposals/new}">Create Proposal</a>
    </div>
    <div class="p-2">
        <a class="h2" th:href="@{/}">Back</a>
    </div>
    <div><h1>Proposals</h1></div>
    <div>
        <table class="table table-bordered">
            <tr>
                <th>Id</th>
                <th>Min Scale</th>
                <th>Max Scale</th>
                <th>Description1</th>
                <th>Description2</th>
                <th>Description3</th>
                <th>Description4</th>
                <th>Description5</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="proposal : ${proposals}">
                <td th:text="${proposal.id}"></td>
                <td th:text="${proposal.minScale}"></td>
                <td th:text="${proposal.maxScale}"></td>
                <td th:text="${proposal.description1}"></td>
                <td th:text="${proposal.description2}"></td>
                <td th:text="${proposal.description3}"></td>
                <td th:text="${proposal.description4}"></td>
                <td th:text="${proposal.description5}"></td>
                <td>
                    <a th:href="@{/proposals/{id}/edit(id=${proposal.id})}">Edit</a>
                    <a th:href="@{/proposals/{id}/delete(id=${proposal.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="h2" th:href="@{/}">Back</a>
    </div>
</div>
</body>
</html>