<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Questions</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container text-center">
    <div class="p-2">
        <a class="h2" th:href="@{/questions/new}">Create Question</a>
    </div>
    <div><h1>Questions</h1></div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="question : ${questions}">
                <td th:text="${question.id}"></td>
                <td th:text="${question.name}"></td>
                <td th:text="${question.category.name}"></td>
                <td>
                    <a th:href="@{/questions/{id}(id=${question.id})}">Show</a>
                    <a th:href="@{/questions/{id}/edit(id=${question.id})}">Edit</a>
                    <a th:href="@{/questions/{id}/delete(id=${question.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="h2" th:href="@{/}">Back</a>
    </div>
</div>
</body>
</html>