<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}"></head>
<body>
<nav th:replace="~{layout :: page_nav}"></nav>
<div class="container py-3">
    <div class="row">
        <div class="col-md-8 mx-auto rounded border p-4 m-4">
            <h2 class="text-center mb-5">Survey Questionnaire</h2>
            <form method="post" th:object="${surveyDto}">
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Id</label>
                    <div class="col-sm-8">
                        <input readonly class="form-control-plaintext" th:value="${surveyDto.id}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Name</label>
                    <div class="col-sm-8">
                        <input readonly class="form-control-plaintext" th:value="${surveyDto.name}">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Description</label>
                    <div class="col-sm-8">
                        <input readonly class="form-control-plaintext" th:value="${surveyDto.description}">
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Question DE ([[${surveyDto.questions.size()}]])</th>
                        <th>Proposal</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    <tr th:each="question : ${surveyDto.questions}">
                        <td th:text="${question.id}"></td>
                        <td th:text="${question.questionDe}"></td>
                        <td th:if="${question.proposal != null}" th:text="${question.proposal}"></td>
                        <td th:if="${question.proposal == null}">None</td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-4 d-grid">
                        <a class="btn btn-outline-primary" href="/surveys">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="~{layout :: page_footer}"></footer>
</body>
</html>
