<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}"></head>
<body>
<nav th:replace="~{layout :: page_nav}"></nav>
<div class="container py-3">
    <h1 class="text-center my-4">Question Details</h1>
    <a class="btn btn-primary" th:href="@{/questions}">Back</a>

    <br>

    <p th:text="${question.category.name}"></p>
    <p th:text="${question.page}"></p>
    <p th:text="${question.questionDe}"></p>
    <div th:each="subquestionContainer : ${question.subquestionContainer}">
        <div th:each="subquestion : ${subquestionContainer.subquestions}">
            <p th:text="${subquestion.position}"></p>
            <p th:text="${subquestion.questionDe}"></p>
            <p th:text="${subquestion.proposal.name}"></p>
            <div th:each="replayOption : ${subquestion.proposal.replayOptions}">
                <p th:text="${replayOption.name}"></p>
            </div>

        </div>
    </div>


</div>
<footer th:replace="~{layout :: page_footer}"></footer>
</body>
</html>