<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}"></head>
<body>
<nav th:replace="~{layout :: page_nav}"></nav>
<div class="container py-3">
    <h1 class="text-center my-4">Question Details</h1>
    <a th:href="@{/questions}" class="btn btn-primary">Back</a>
    <div class="card">
        <div class="card-header"
             th:text="${'Target Group '+question.targetGroup+ ', Category '+question.category.name + ', Page '+ question.page}"></div>
        <div class="card-body">
            <h5 class="card-title"
                th:text="${question.questionDe}"></h5>
            <div th:each="subquestionContainer : ${question.subquestionContainer}">
                <div th:each="subquestion : ${subquestionContainer.subquestions}">
                    <div class="card" style="width: 40rem;">
                        <div class="card-header" th:if="${subquestion.questionDe != null}"
                             th:text="${subquestion.questionDe}"></div>
                        <div class="card-header"
                             th:text="${'(From ' + subquestion.proposal.minScale + ' to ' + subquestion.proposal.maxScale + ')'}"></div>
                        <ul class="list-group list-group-flush"
                            th:each="replay : ${subquestion.proposal.replayOptions}">
                            <li class="form-check">
                                <input class="form-check-input" type="radio" th:name="${subquestion.id}"
                                       id="${replay.id}">
                                <label class="form-check-label" for="${replay.id}" th:text="${replay.name}"></label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{layout :: page_footer}"></footer>
</body>
</html>