<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: page_head}"></head>
<body>
<nav th:replace="~{layout :: page_nav}"></nav>
<div class="container py-3">
    <h1 class="text-center my-4">List of Contacts</h1>
    <a class="btn btn-primary" th:href="@{/contacts/create}">Create Contact</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Comment</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="contact : ${contacts}">
            <td th:text="${contact.id}"></td>
            <td th:text="${contact.name}"></td>
            <td th:text="${contact.email}"></td>
            <td th:text="${contact.phone}"></td>
            <td th:text="${contact.comment}"></td>
            <td style="white-space: nowrap">
                <a class="btn btn-primary btn-sm" th:href="@{/contacts/edit(id=${contact.id})}">Edit</a>
                <a class="btn btn-danger btn-sm" th:href="@{/contacts/delete(id=${contact.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<footer th:replace="~{layout :: page_footer}"></footer>
</body>
</html>
