<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: page_head}"></head>
<body>


<nav th:replace="~{fragments/layout :: page_nav}"></nav>


<div class="container py-3">

    <div class="row">
        <div class="col-md-8 mx-auto rounded border p-4 m-4">
            <h2 class="text-center mb-5">Create Contact</h2>

            <form method="post" th:object="${contactDto}">
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${contactDto.name}">
                        <p th:if="${#fields.hasErrors('name')}"
                           th:errorClass="text-danger"
                           th:errors="${contactDto.name}"></p>
                    </div>
                </div>


                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${contactDto.email}">
                        <p th:if="${#fields.hasErrors('email')}"
                           th:errorClass="text-danger"
                           th:errors="${contactDto.email}"></p>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Phone</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${contactDto.phone}">
                        <p th:if="${#fields.hasErrors('phone')}"
                           th:errorClass="text-danger"
                           th:errors="${contactDto.phone}"></p>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Comment</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${contactDto.comment}">
                        <p th:if="${#fields.hasErrors('comment')}"
                           th:errorClass="text-danger"
                           th:errors="${contactDto.comment}"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-sm-4 col-sm-4 d-grid">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col-sm-4 d-grid">
                        <a class="btn btn-outline-primary" href="/contacts">Cancel</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/layout :: page_footer}"></footer>

</body>
</html>
